/* @cspell:ignore opsz, wght */
@font-face {
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/static/fonts/Inter-VariableFont_opsz,wght.ttf');
	/* Gives the font face an extremely small block period and an infinite swap period. */
	font-display: swap;
}
